DB_PORT=5432
DB_NAME=cloud_storage_db
DB_USERNAME=postgres_user
DB_PASSWORD=postgres_password

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_URL=http://localhost:9000
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password